/* center app on the page & background color*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

/* create class for weather container */

.weather-container {
    text-align: center;
    padding: 20px;
    background-color: lemonchiffon;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 15px;
}